.maintenance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1em 0;
  margin: 5px 125px;
  font-size: 18px;
  border-radius: 10px;
}

.true {
  background-color: green;
}

.false {
  background-color: rgb(187, 18, 18);
}

.mTrainId {
  min-width: 80px;
}

.mTrainName {
  width: 170px;
  font-weight: bold;
}

.mTrainLength {
  min-width: 80px;
}

.mTrainStop {
  width: 140px;
}

.mButton {
  width: 80px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
  padding: 8px;
  margin: 5px 0;
  font-weight: bold;
}

.mButton:focus {
  outline: none;
  box-shadow: none;
}

.add {
  background-color: rgb(118, 116, 116);
  color: white;
}

.remove {
  background-color: rgb(118, 116, 116);
  color: white;
}

.add:hover {
  background-color: rgb(135, 40, 40);
}

.remove:hover {
  background-color: darkslategrey;
}

.icon {
  margin-left: 15px;
}

@media only screen and (max-width: 900px) {
  .maintenance {
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    max-width: 600px;
    display: inline-block;
  }

  .mTrainStop {
    width: 200px;
    margin: 5px 0;
  }

  .mTrainName {
    width: 200px;
    margin: 5px 0;
  }
}
