.tHead {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-around;
  margin: 10px 120px;
}

.mId {
  min-width: 90px;
}

.mName {
  min-width: 150px;
}

.mLength {
  min-width: 90px;
}

.mStop {
  min-width: 90px;
}

.mMaintenance {
  min-width: 90px;
}

.mTitle {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 34px;
}
