.tHead {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-around;
  margin: 10px 120px;
}

.mId {
  min-width: 90px;
}

.mName {
  min-width: 150px;
}

.mLength {
  min-width: 90px;
}

.mStop {
  min-width: 90px;
}

.mMaintenance {
  min-width: 90px;
}

.mTitle {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 34px;
}

@media only screen and (max-width: 820px) {
  .tHead {
    flex-direction: column;
    margin: 10px auto;
    width: 200px;
    max-width: 600px;
    border-radius: 10px;
    background-color: lightgray;
  }
}
