h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 34px;
}

.RunningTrainContainer {
  /* display: flex; */
}

thead {
  justify-content: center;
  /* display: flex; */
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
  width: auto;
  border-radius: 20px;
}

.RunningTrainContainerTable {
  width: auto;
  /* display: flex; */
  justify-content: center;
  background-color: #28df99;
  border-radius: 10px;
}
